body {
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
	background: #ff9966 url("image/autumn.jpg") no-repeat fixed;
	background-size: cover;
	font-size: 1.2em;
	display: inline-flex;
}

a {
  pointer-events: none;
  cursor: default;
}
